[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mdutils = "*"
mkdocs-material = "*"
mkdocs-awesome-pages-plugin = "*"
mkdocs-material-extensions = "*"
jinja2 = "==3.0.3"
pygments = "==2.11"
pymdown-extensions = "==9.3"

[dev-packages]

[requires]
python_version = "3.10"
